{% extends 'base.html' %}

{% load static %}

{% block title %}About{% endblock %}

{% block content %}
<section class="about" id="about">
    <div class="container1">
        <h2 class="title">About me</h2>
        <div class="about-content">
            <div class="left">
                <img src="{% static 'rasm/About.jpg' %}" alt="">
            </div>
            <div class="right">
                <div class="text">I'm Aslbek and I'm a <span>Web Deziner</span></div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates ratione blanditiis saepe quasi nemo vitae quia molestiae, explicabo hic harum nesciunt necessitatibus nihil libero velit quisquam aliquam quod deserunt, possimus recusandae numquam eaque quas repellat atque! Ad provident illo Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quasi nihil, ipsam harum odio est numquam, voluptate repellendus quod dolores iste quibusdam impedit necessitatibus dicta a officiis totam illum odit laboriosam, neque sed adipisci possimus. Facilis voluptatum odit, perspiciatis cumque quaerat vel adipisci quod ipsum commodi velit deleniti dignissimos similique. architecto, sit exercitationem fugiat nam beatae saepe vero nesciunt facilis ipsam.</p>
                <a href="#">Download CV</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}