{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>

    <nav class="navbar ">
        <div class="container">
            <div class="logo">Portfo<span>lio</span></div>
            <ul class="main ">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'services' %}">Services</a></li>
                <li><a href="{% url 'scill' %}">Skills</a></li>
                <li><a href="#">Teams</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
            </ul>
            <div class="burger ">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
    </nav>

    {% block content %}

    {% endblock %}

    <footer>Aslbek Xafizov &copy right Uzbekistan</footer>

    




    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'main.js' %}"></script>
</body>
</html>