{% extends 'base.html' %}

{% load static %}

{% block title %}Contact{% endblock %}

{% block content %}

<section class="contact" id="contact">
    <div class="container1">
        <h2 class="title">Contact me</h2>
        <div class="contact-content">
            <div class="left">
                <div class="text">Get in Touch</div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste deleniti debitis facilis accusamus perferendis. Deserunt voluptate voluptas pariatur dicta laborum.</p>
                <div class="icons">
                    <div class="row">
                        <i class="fa fa-user"></i>
                        <div class="info">
                            <div class="head">Name</div>
                            <div class="sub-title">Aslbek Xafizov</div>
                        
                        </div>
                    </div>
                    <div class="row">
                        <i class="fa fa-map-marker-alt"></i>
                        <div class="info">
                            <div class="head">Address</div>
                            <div class="sub-title">Uzbekistan, Samarkand</div>
                        
                        </div>
                    </div>
                    <div class="row">
                        <i class="fa fa-envelope"></i>
                        <div class="info">
                            <div class="head">Email</div>
                            <div class="sub-title">aslbekxafizov@gamil.com</div>
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="text">Message me</div>
                <form action="{% url 'contact' %}" method="POST">
                    {% csrf_token %}
                    <!-- {{form}} -->
                    <div class="fields" style="margin-bottom: 10px;">
                        <div class="field name">
                            <!-- <input type="text" placeholder="Name" > -->
                            {{form.name}}
                        </div>
                        <div class="field email">
                            <!-- <input type="email" placeholder="Email" > -->
                            {{form.email}}
                        </div>
                    </div>
                    <div class="field">
                        <!-- <input type="text" placeholder="Subject" > -->
                        {{form.subject}}
                    </div>
                    <div class="field texterea">
                        <!-- <textarea cols="30" rows="10" placeholder="Describe project.." ></textarea> -->
                        {{form.text}}
                    </div>
                    <div class="button">
                        <button type="submit" style="margin-top: 10px;">Send message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}