{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}
    {% block content %}
    <div class="home1">
        <section class="home" id="home">
            <div class="container">
                <div class="home-content">
                    <h3>Hello my name is</h3>
                    <h1>Aslbek Xafizov</h1>
                    <h2>And I'm a <span>Web Deziner</span></h2>
                    <button>Hire me</button>
                </div>
            </div>
        </section>
    </div>

    <section class="about" id="about">
        <div class="container1">
            <h2 class="title">About me</h2>
            <div class="about-content">
                <div class="left">
                    <img src="{% static 'rasm/About.jpg' %}" alt="">
                </div>
                <div class="right">
                    <div class="text">I'm Aslbek and I'm a <span>Web Deziner</span></div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates ratione blanditiis saepe quasi nemo vitae quia molestiae, explicabo hic harum nesciunt necessitatibus nihil libero velit quisquam aliquam quod deserunt, possimus recusandae numquam eaque quas repellat atque! Ad provident illo Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quasi nihil, ipsam harum odio est numquam, voluptate repellendus quod dolores iste quibusdam impedit necessitatibus dicta a officiis totam illum odit laboriosam, neque sed adipisci possimus. Facilis voluptatum odit, perspiciatis cumque quaerat vel adipisci quod ipsum commodi velit deleniti dignissimos similique. architecto, sit exercitationem fugiat nam beatae saepe vero nesciunt facilis ipsam.</p>
                    <a href="#">Download CV</a>
                </div>
            </div>
        </div>
    </section>

    <section class="Services" id="Services">
        <div class="container1">
            <h2 class="title">My services</h2>
            <div class="services-content">
                <div class="card">
                    <div class="box">
                        <i class="fas fa-paint-brush fa-3x"></i>
                        <h2>Web Design</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, consectetur ratione. Eaque vero sed aliquid!</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fas fa-desktop fa-3x"></i>
                        <h2>Web Design</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, consectetur ratione. Eaque vero sed aliquid!</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fas fa-database fa-3x"></i>
                        <h2>Web Design</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, consectetur ratione. Eaque vero sed aliquid!</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fas fa-mug-hot fa-3x"></i>
                        <h2>Web Design</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, consectetur ratione. Eaque vero sed aliquid!</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fas fa-chart-line fa-3x"></i>
                        <h2>Web Design</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, consectetur ratione. Eaque vero sed aliquid!</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fas fa-code fa-3x"></i>
                        <h2>Web Design</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, consectetur ratione. Eaque vero sed aliquid!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="scill" id="scill">
        <div class="container1">
            <h2 class="title">My scills</h2>
            <div class="scill-content">
                <div class="left">
                    <div class="text">
                        <h3>My create skills & expriences</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia tenetur magni a, exercitationem rem voluptas officiis, officia temporibus itaque sit velit voluptatum alias nobis provident quibusdam illum dicta deserunt, assumenda error dolor! Iste accusantium placeat ad, molestiae nesciunt totam? Molestias, voluptatem deserunt quae libero obcaecati sit assumenda vitae. Ut suscipit cumque tempore fuga nulla. Nam doloremque ducimus aliquid commodi tempore.</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
                <div class="right">
                    <div class="info">
                        <div class="box">
                            <div>HTML</div>
                            <div>80%</div>
                        </div>
                        <div class="line">
                            <div class="lineHtml"></div>
                        </div>
                    </div>
                    <div class="info">
                        <div class="box">
                            <div>CSS</div>
                            <div>70%</div>
                        </div>
                        <div class="line">
                            <div class="lineCss"></div>
                        </div>
                    </div>
                    <div class="info">
                        <div class="box">
                            <div>JavaScript</div>
                            <div>60%</div>
                        </div>
                        <div class="line">
                            <div class="lineJs"></div>
                        </div>
                    </div>
                    <div class="info">
                        <div class="box">
                            <div>PYTHON</div>
                            <div>80%</div>
                        </div>
                        <div class="line">
                            <div class="linePython"></div>
                        </div>
                    </div>
                    <div class="info">
                        <div class="box">
                            <div>DJANGO</div>
                            <div>10%</div>
                        </div>
                        <div class="line">
                            <div class="lineDjango"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- <section class="teams" id="teams">
        <div class="container1">
            <h2 class="title">My Teams</h2>
            <div class="teams-content">
                <div class="carousel">
                    <div class="card">
                        <div class="box">
                            <img src="rasm/teams1.jpg" alt="">
                            <div class="text">Someone name</div>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <img src="rasm/teams1.jpg" alt="">
                            <div class="text">Someone name</div>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <img src="rasm/teams1.jpg" alt="">
                            <div class="text">Someone name</div>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <img src="rasm/teams1.jpg" alt="">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <img src="rasm/teams1.jpg" alt="">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->


    <section class="contact" id="contact">
        <div class="container1">
            <h2 class="title">Contact me</h2>
            <div class="contact-content">
                <div class="left">
                    <div class="text">Get in Touch</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste deleniti debitis facilis accusamus perferendis. Deserunt voluptate voluptas pariatur dicta laborum.</p>
                    <div class="icons">
                        <div class="row">
                            <i class="fa fa-user"></i>
                            <div class="info">
                                <div class="head">Name</div>
                                <div class="sub-title">Aslbek Xafizov</div>
                            
                            </div>
                        </div>
                        <div class="row">
                            <i class="fa fa-map-marker-alt"></i>
                            <div class="info">
                                <div class="head">Address</div>
                                <div class="sub-title">Uzbekistan, Samarkand</div>
                            
                            </div>
                        </div>
                        <div class="row">
                            <i class="fa fa-envelope"></i>
                            <div class="info">
                                <div class="head">Email</div>
                                <div class="sub-title">aslbekxafizov@gamil.com</div>
                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="text">Message me</div>
                    <form action="#">
                        <div class="fields" style="margin-bottom: 10px;">
                            <div class="field name">
                                <input type="text" placeholder="Name" required>
                            </div>
                            <div class="field email">
                                <input type="email" placeholder="Email" required>
                        </div>
                        </div>
                        <div class="field">
                            <input type="text" placeholder="Subject" required>
                        </div>
                        <div class="field texterea">
                            <textarea cols="30" rows="10" placeholder="Describe project.." required></textarea>
                        </div>
                        <div class="button">
                            <button type="submit" style="margin-top: 10px;">Send message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


    {% endblock %}


