{% extends 'base.html' %}

{% load static %}

{% block title %}Scill{% endblock %}


{% block content %}

<section class="scill" id="scill">
    <div class="container1">
        <h2 class="title">My scills</h2>
        <div class="scill-content">
            <div class="left">
                <div class="text">
                    <h3>My create skills & expriences</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia tenetur magni a, exercitationem rem voluptas officiis, officia temporibus itaque sit velit voluptatum alias nobis provident quibusdam illum dicta deserunt, assumenda error dolor! Iste accusantium placeat ad, molestiae nesciunt totam? Molestias, voluptatem deserunt quae libero obcaecati sit assumenda vitae. Ut suscipit cumque tempore fuga nulla. Nam doloremque ducimus aliquid commodi tempore.</p>
                    <a href="#">Read more</a>
                </div>
            </div>
            <div class="right">
                <div class="info">
                    <div class="box">
                        <div>HTML</div>
                        <div>80%</div>
                    </div>
                    <div class="line">
                        <div class="lineHtml"></div>
                    </div>
                </div>
                <div class="info">
                    <div class="box">
                        <div>CSS</div>
                        <div>70%</div>
                    </div>
                    <div class="line">
                        <div class="lineCss"></div>
                    </div>
                </div>
                <div class="info">
                    <div class="box">
                        <div>JavaScript</div>
                        <div>60%</div>
                    </div>
                    <div class="line">
                        <div class="lineJs"></div>
                    </div>
                </div>
                <div class="info">
                    <div class="box">
                        <div>PYTHON</div>
                        <div>80%</div>
                    </div>
                    <div class="line">
                        <div class="linePython"></div>
                    </div>
                </div>
                <div class="info">
                    <div class="box">
                        <div>DJANGO</div>
                        <div>10%</div>
                    </div>
                    <div class="line">
                        <div class="lineDjango"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}