{% extends 'base.html' %}

{% load static %}

{% block title %}Services{% endblock %}

{% block content %}

<section class="Services" id="Services">
    <div class="container1">
        <h2 class="title">My services</h2>
        <div class="services-content">
            <div class="card">
                <div class="box">
                    <i class="fas fa-paint-brush fa-3x"></i>
                    <h2>Web Design</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, consectetur ratione. Eaque vero sed aliquid!</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <i class="fas fa-desktop fa-3x"></i>
                    <h2>Web Design</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, consectetur ratione. Eaque vero sed aliquid!</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <i class="fas fa-database fa-3x"></i>
                    <h2>Web Design</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, consectetur ratione. Eaque vero sed aliquid!</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <i class="fas fa-mug-hot fa-3x"></i>
                    <h2>Web Design</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, consectetur ratione. Eaque vero sed aliquid!</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <i class="fas fa-chart-line fa-3x"></i>
                    <h2>Web Design</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, consectetur ratione. Eaque vero sed aliquid!</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <i class="fas fa-code fa-3x"></i>
                    <h2>Web Design</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, consectetur ratione. Eaque vero sed aliquid!</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}