{% extends 'base.html' %}

{% load static %}

{% block title %}Hom1{% endblock %}

{% block content %}
<h1>{{blog_all}}</h1>
<section class="Services" id="Services">
    <div class="container1">
        <h2 class="title">My blog</h2>
        <div class="services-content">
            {% for i in abs %}
            <a href="{% url 'deteil' i.id%}">
            <div class="card">
                <div class="box newblog">
                    <img src="{{i.img.url}}" style="width: 300px; height: 200px;" alt="Chiqmadi">
                    <a href="{% url 'deteil' i.id%}" style="padding: 10px; color: rgb(163, 163, 163); text-decoration: none;"><h1>{{i.title}}</h1></a>
                    <p>{{i.body | truncatechars:100|safe}}</p>
                    <h1>{{i.blog_count}}</h1>
                    <p style="margin-right: 0px;">{{i.date}}</p>
                    <p><a style="color: #fff; text-decoration:none" href="{% url 'ubdedBlog' i.id%}">O'zgartirish</a></p>
                    <p><a style="color: #fff; text-decoration:none" href="{% url 'deleteBlog' i.id%}">Deleted</a></p>
                    <h1>{{i.date|date:'d M'}}</h1>
                </div>
            </div> 
            </a>
            {% endfor %}
            
            
        </div>
        <a href="{% url 'createBlog' %}">Blog yaratish</a>
    </div>
    Salom
</section>        

{% endblock %}

