{% extends 'base.html' %}

{% load static %}

{% block title %}CreateBlog{% endblock %}

{% block content %}
<h1 style="padding-top: 100px;">Create Blog</h1>

<form action="#" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form_as_p}}
    <div class="fields" style="margin-bottom: 10px;">
        <div class="field name">
            {{form.title}}
        </div>
        <div class="field email">
            {{form.body}}
    </div>
    </div>
    <div class="field">
        {{form.img}}
    </div>
    <div class="field texterea">
        {{form.author}}
    </div>
    <div class="button">
        <button type="submit" style="margin-top: 10px;">Send message</button>
    </div>
</form>

{% endblock %}