{% extends 'base.html' %}

{% load static %}

{% block title %}CreateBlog{% endblock %}

{% block content %}
<h1 style="padding-top: 100px;">Create Blog</h1>

<form action="#" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h1>{{blog.title}}</h1>
    <div class="button">
        <button type="submit" style="margin-top: 10px;">Deleted</button>
    </div>
    
</form>
<a href="{% url 'blog' %}">Ortga</a>

{% endblock %}