{% extends 'base.html' %}

{% load static %}

{% block title %}deteil{% endblock %}


{% block content %}

    <!-- {{blog.title}}
    {{blog.blog_count}} -->

    <div class="katta">
        <img src="{{blog.img.url}}" alt="Chiqmadi">
        <h1>{{blog.title}}</h1>
        <p>{{blog.body}}</p>
        <h1>{{blog.blog_count}}</h1>
        <p style="margin-right: 0px;">{{i.date}}</p>
    </div>

{% endblock %}