*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    color: aliceblue;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.4);
}
.navbar span{
    color: crimson;
}
.navbaradd{
    background-color: crimson;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.navbaradd span{
    color: aliceblue;
}

.container{
    padding: 0 80px;
    max-width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
}
.container1{
    padding: 0 80px;
    max-width: 1300px;
    margin: auto;
}
.navbar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding: 20px 0px;
}
.navbar ul{
    list-style: none;
}
.navbar ul li{
    display: inline;
}
.navbar ul li a{
    color: aliceblue;
    text-decoration: none;
    padding: 0px 10px;
    font-weight: 500;
    font-family: 'Blinker', sans-serif;
}
.navbar ul li a:hover{
    color: crimson;
}
.navbaradd ul li a:hover{
    color: aqua;
}
/* style strating header */

.home1{
    background-image: url(rasm/Asl.jpg);
    background-size: cover;
    /* background-position: left; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
.home{
    background-color: rgba(0, 0, 0, 0.8);
}
.home .container{
    height: 100vh;
    color: rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif;
}
.home .home-content h3{
    font-size: 35px;
}
.home .home-content h1{
    font-size: 85px;
}
.home .home-content h2{
    font-size: 45px;
}
.home .home-content span{
    color: crimson;
}
.home button{
    background-color: crimson;
    color: aliceblue;
    font-size: 25px;
    padding: 8px 28px;
    outline: none;
    border-radius: 8px;
    margin-top: 10px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}
.home button:hover{
    background-color: transparent;
}
.burger{
    display: none;
    
}
.burgeradd .line1{
    transform: rotateZ(50deg) translate(7px, 8px);
}
.burgeradd .line2{
    opacity: 0;
}
.burgeradd .line3{
    transform: rotateZ(-50deg) translate(5px, -6px);
}
.burger div{
    width: 25px;
    height: 4px;
    margin: 5px;
    background-color: aliceblue;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/* About styli starting */

.about .title, .Services .title, .scill .title, .teams .title, .contact .title{
    position: relative;
    margin: 80px 0px;
    font-size: 35px;
    font-family: 'Grandstander', cursive;
    text-align: center;
    padding-bottom: 20px;
    font-weight: 600;
}
.about .title::before,.Services .title::before, .scill .title::before, .teams .title::before, .contact .title::before{
    content: "";
    position: absolute;
    width: 180px;
    height: 3px;
    left: 50%;
    background-color: #111;
    transform: translateX(-50%);
    bottom: 0;
}
.about .title::after, .Services .title::after, .scill .title::after, .teams .title::after, .contact .title::after{
    content: "who i am";
    position: absolute;
    left: 50%;
    color: crimson;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    transform: translateX(-50%);
    bottom: -12px;
    padding: 4px;
}
.about .about-content .left{
    width: 45%;
}
.about .about-content, .Services .services-content, .scill .scill-content, .contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}
.about .about-content .right .text span{
    color: crimson;
}
.about .about-content .right p{
    font-size: 16px;
    line-height: 1.4em;
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background-color: crimson;
    color: aliceblue;
    text-decoration: none;
    padding: 5px 38px;
    margin-top: 15px;
    border-radius: 4px;
    border: 2px solid crimson;
    transition: all 0.3s ease-in-out;
}
.about .about-content .right a:hover{
    background-color: transparent;
    color: crimson;
    
}
.about .about-content .left img{
    width: 400px;
    height: 400px;
    border-radius: 8px;
}


/* My services */
.Services .title::after, .teams .title::after{
    content: "provide";
    background-color: #222;
}
.Services .title::before, .teams .title::before{
    background-color: #fff;
}

.Services .title, .teams .title{
    padding-top: 80px;
}
.Services, .teams{
    background-color: #222;
    color: #fff;
    padding-bottom: 80px;
}
.Services .card{
    margin-bottom: 20px;
    width: 30%;
    background-color: #333;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
}
.Services .card .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.Services .card .box i{
    color: crimson;
    transition: all 0.3s ease;
}
.Services .card .box h2{
    padding: 10px 0px;
    font-family: 'Blinker', sans-serif;
}
.Services .card .box p{
    text-align: center;
    line-height: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
}
.Services .card:hover .box{
    transform: scale(1.05);
}
.Services .card:hover{
    background-color: crimson;
}
.Services .card:hover i{
    color: #fff;
}

/* Scills */
.scill .title::after{
    content: "what i now";
}
.scill .scill-content{
    justify-content: space-evenly;
}
.scill .scill-content .left{
    width: 30%;
    text-align: justify;
}
.scill .scill-content .left h3{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 0px;
}
.scill .scill-content .left p{
    color: #333;
    font-weight: 500;
    line-height: 1.4em;

}
.scill .scill-content .left a{
    display: inline-block;
    background-color: crimson;
    color: aliceblue;
    text-decoration: none;
    padding: 2px 38px;
    margin-top: 15px;
    border-radius: 4px;
    border: 2px solid crimson;
    transition: all 0.3s ease-in-out;
}
.scill .scill-content .left a:hover{
    background-color: transparent;
    color: crimson;
    
}

.scill .scill-content .right{
    width: 40%;
}
.scill .scill-content .right .box{
    display: flex;
    justify-content: space-between;
    font-family: 'Lemonada', cursive;
    font-size: 20px;
}
.scill .scill-content .right .line{
    width: 100%;
    height: 4px;
    background-color: rgb(223, 220, 220);
    border-radius: 4px;
    margin: 10px 0px;
    position: relative;
}
.scill .scill-content .right .lineHtml, .lineJs, .linePython, .lineDjango, .lineCss{
    position: absolute;
    width: 80%;
    height: 100%;
    background-color: crimson;
}
.lineCss{
    width: 70%;
}
.lineJs{
    width: 60%;
}
.lineDjango{
    width: 10%;
}

/* teams */

.teams .title::after{
    content: "who with me";
}
.teams .carousel{
    display: flex;
    flex-wrap: nowrap;
}
.teams .card{
    margin: 5px;
    background-color: #333;
    border-radius: 6px;
    padding: 10px;
}
.teams .card .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.teams .card .box img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid crimson;
    object-fit: cover;
}
.teams .active{
    background-color: crimson;
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

/* Contact stills */

.contact .title::after{
    content: "get in touch";
}

.contact .contact-content .left{
    width: 45%;
}
.contact .contact-content .right{
    width: 50%;
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0px;
}
.contact .contact-content .left .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .left .row .info{
    margin-left: 30px;
}
.contact .contact-content .left .row i{
    font-size: 25px;
    color: crimson;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .sub-title{
    color: #333;
}

.contact .right form .fields{
    display: flex;
    margin: 0;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
}
.contact .right form .texterea{
    height: 80px;
    width: 100%;
}

.contact .right form .field input,
.contact .right form .texterea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.contact .right form .texterea textarea{
    margin-top: 10px;
    resize: none;
}
.contact .right form .button{
    height: 47px;
    width: 100%;
}
.contact .right form .button button{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    border: 2px solid crimson;
    background-color: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right form .button button:hover{
    color: crimson;
    background: none;
}


footer{
    background-color: #333;
    color: #fff;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

/* blog styleee */

.Services.services-content.card.newblog img{
    width: 200px;
}

.katta{
    height: 87vh;
    width: 100vw;
    background-color: rgb(155, 24, 24);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 153, 0);
    font-family: Arial, Helvetica, sans-serif;
}
.katta p{
    max-width: 350px;
    text-align: center;
}
.katta img{
    width: 200px;
    max-height: 250px;
    box-shadow: 4px 4px 100px 100px rgb(0, 17, 255);
}

/* media */

@media (max-width:1100px){
    .home .home-content h3{
        font-size: 32px;
    }
    .home .home-content h1{
        font-size: 80px;
    }
    .home .home-content h2{
        font-size: 40px;
    }
    .home{
        /* background-image: url(rasm/Asbl2.jpg); */
        background-position: center;
    }
    .about .about-content .left img{
        width: 350px;
        height: 350px;
    }
}
@media (max-width:1050px){
    .scill .scill-content .left,
    .contact .contact-content .left{
        width: 100%;
    }
    .scill .scill-content .right,
    .contact .contact-content .right{
        width: 100%;
        padding-top: 30px;
    }
}
@media (max-width:991px){
    .container, .container1{
        padding: 0 50px;
    }
    
}
@media (max-width:947px){
    .Services .card{
        width: 48%;
        margin-top: 20px;
    }
    .container, .container1{
        max-width: 800px;
        padding: 0 50px;
    }
    .about .about-content .left{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .navbar ul{
        position: fixed;
        background-color: black;
        top: 0;
        height: 100vh;
        left: -100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in-out;
    }
    .navbar ul li a{
        display: block;
        margin: 25px 0px;
        font-weight: 500;
        font-family: 'Blinker', sans-serif;
        font-size: 25px;
    }
    .navbar .mainadd{
        left: 0%;
    }
    .burger{
        display: block;
        z-index: 9999;
    }
    .home .home-content h3{
        font-size: 27px;
    }
    .home .home-content h1{
        font-size: 75px;
    }
    .home .home-content h2{
        font-size: 35px;
    }
}
@media (max-width:690px){
    .container, .container1{
        padding: 0 23px;
    }
    .home .home-content h3{
        font-size: 23px;
    }
    .home .home-content h1{
        font-size: 70px;
    }
    .home .home-content h2{
        font-size: 30px;
    }
    .home button{
        font-size: 18px;
        padding: 8px 28px;
    }
}
@media (max-width:570px){
    .Services .card{
        width: 100%;
    }
    .container, .container1{
        padding: 0 23px;
    }
    .home .home-content h3{
        font-size: 20px;
    }
    .home .home-content h1{
        font-size: 60px;
    }
    .home .home-content h2{
        font-size: 25px;
    }
}
@media (max-width:480px){
    .home .home-content h3{
        font-size: 17px;
    }
    .home .home-content h1{
        font-size: 50px;
    }
    .home .home-content h2{
        font-size: 22px;
    }
    .home button{
        font-size: 14px;
        padding: 8px 28px;
    }
    .teams .title::after{
        display: none;
    }
}
@media (max-width:408px){
    .home .home-content h3{
        font-size: 14px;
    }
    .home .home-content h1{
        font-size: 40px;
    }
    .home .home-content h2{
        font-size: 17px;
    }
    .home button{
        font-size: 14px;
        padding: 5px 18px;
    }
}
@media (max-width:340px){
    .home .home-content h3{
        font-size: 14px;
    }
    .home .home-content h1{
        font-size: 30px;
    }
    .home .home-content h2{
        font-size: 17px;
    }
    .about .about-content .left img{
        width: 250px;
        height: 250px;
    }
}